# Method Chaining with NumPy and Intro to Pandas
If you want to type along with me, use [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata271_sp25&branch=main&urlpath=tree%2Fdata271_sp25%2Flectures%2Fdata271_lec11_live.ipynb) instead. 
If you don't want to type and want to follow along just by executing the cells, stay in this notebook.

In [ ]:
# Whenever you want to use numpy import it with the following code
import numpy as np

### Method chaining

In [ ]:
arr2d = np.random.randint(0,20,(5,4))
arr2d

In [ ]:
# start by reshaping
arr2d.reshape((2,10))

In [ ]:
# chain: reshape and then take the max of each column
arr2d.reshape((2,10)).max(axis=0)

In [ ]:
# chain: reshape and then take the max of each column then get the average of those
arr2d.reshape((2,10)).max(axis=0).mean()

In [ ]:
# when your chains start getting long 
(arr2d.reshape((2,10))
 .max(axis=0)
 .mean())

In [ ]:
# reminder that this doesn't change the original array
arr2d

### Example

In [9]:
import pandas as pd
import ast

recipes = pd.read_csv("recipes_time_int.csv")
print(recipes.head(3))

# convert nutrition_dict from string -> real actual and literal dict
recipes["nutrition_dict"] = recipes["nutrition_dict"].apply(ast.literal_eval)

# get calories
#   calories are hidden in the column 'nutrition_dict' as a key in the dictionary
#   have to account if key 'calories' is missing so we use
#          dict.get(key)
recipes["calories"] = [d.get("calories") for d in recipes["nutrition_dict"]]

# make sure the ratings and calories are numeric
recipes["rating_value"] = pd.to_numeric(recipes["rating_value"], errors="coerce")
recipes["calories"] = pd.to_numeric(recipes["calories"], errors="coerce")

# summary: mean calories + mean rating by tax1, sorted by mean rating
tax1_summary = (
    recipes
      .dropna(subset=["tax1", "rating_value", "calories"])
      .groupby("tax1")
      .agg(
          mean_calories=("calories", "mean"),
          mean_rating=("rating_value", "mean"),
          n_recipes=("recipe_id", "size")
      )
      .sort_values("mean_rating", ascending=False)
)

tax1_summary

   recipe_id                          name  \
0       6770         Pumpkin Coconut Bread
1       6672              Strawberry Bread
2     234425  How to Make Cronuts, Part II

                                         description  \
0  This pumpkin coconut bread is a wonderful brea...
1  This strawberry bread with frozen strawberries...
2  Part I of this series showed you how to make t...

                  date_published  rating_value  rating_count cook_time  \
0  1998-07-06T00:27:23.000-04:00           4.7          81.0     PT60M
1  1998-05-07T15:22:52.000-04:00           4.0          49.0     PT60M
2  2013-09-09T15:45:17.000-04:00           4.9          13.0     PT20M

                                           nutrition prep_time total_time  \
0  {'calories': '296 kcal', 'carbohydrateContent'...     PT10M      PT70M
1  {'calories': '551 kcal', 'carbohydrateContent'...     PT15M      PT75M
2                                                 {}     PT60M     PT200M

   ... recipe_yield                                recipe_instructions  \
0  ...         24.0  Step 1: Preheat oven to 350 degrees F (175 deg...
1  ...         12.0  Step 1: Preheat the oven to 350 degrees F (175...
2  ...         14.0  Step 1: Complete all steps in How to Make Cron...

                                             reviews                tax1  \
0  [{'rating_value': '5', 'review_body': 'Great r...        BreadRecipes
1  [{'rating_value': '5', 'review_body': 'Good an...  BreakfastandBrunch
2  [{'rating_value': '5', 'review_body': "I recen...        BreadRecipes

             tax2          tax3 cook_time_int prep_time_int  food_trend  \
0      QuickBread  PumpkinBread          60.0          10.0         NaN
1  BreakfastBread           NaN          60.0          15.0         NaN
2             NaN           NaN          20.0          60.0         NaN

                                      nutrition_dict
0  {'calories': 296, 'carbohydrateContent': 43, '...
1  {'calories': 551, 'carbohydrateContent': 64, '...
2                                                 {}

[3 rows x 22 columns]

                                 mean_calories  mean_rating  n_recipes
tax1
Ingredients                          38.352941     4.758824         17
HolidaysandEvents                   632.648649     4.732432         37
TrustedBrands                       450.250000     4.725000         12
USRecipes                            82.500000     4.700000          2
BBQandGrilling                      296.400000     4.688571         35
FruitsVegetablesandOtherProduce     257.909091     4.618182         33
SoupsStewsandChili                  333.664459     4.600442        453
PastaandNoodles                     541.304348     4.591304         23
SaladRecipes                        296.017370     4.577667        403
Drinks                              265.032258     4.577419         31
Cuisine                             434.069767     4.573488        215
AppetizersandSnacks                 240.828358     4.552985        134
MeatandPoultry                      465.408257     4.551376        218
Desserts                            320.243736     4.537585        439
SideDishes                          226.625475     4.536692        526
EverydayCooking                     342.857143     4.525397         63
BreadRecipes                        259.690355     4.524873        394
MainDishes                          495.722467     4.516740        454
BreakfastandBrunch                  354.231061     4.475758        264
SeafoodRecipes                      409.512821     4.428205         39
HealthyRecipes                      110.666667     4.366667          3

## Activity

There are two arrays below:

`restaurant_items` is a 2D array:
- Row 1: appetizers
- Row 2: main dishes
- Row 3: beverages

`prices` is a 2D array of the same shape as `restaurant_items`. It contains the prices of each corresponding resturant item. 

Use these to answer the following questions.

In [ ]:
restaurant_items = np.array([['fries','salad','soup'],
                  ['pizza','pasta','burger'],
                  ['soda','iced tea','lemonade']])
prices = np.array([[6.50,7.25,4.75],
                  [9.50,10.25,10.75],
                  [2,2.25,3]])

1. Use NumPy methods to determine how much would someone pay for their meal if they ordered the most expensive appetizer, main dish, and beverage?

In [ ]:
prices.max(axis=1).sum()

2. Use NumPy methods and slicing to create a 1d array containing all the resturaunt items sorted by most expensive to least expensive.

In [ ]:
restaurant_items.ravel()[prices.ravel().argsort(axis=None)[::-1]]

3. Use NumPy methods and slicing to create a 1d array containing the most expensive appetizer, the most expensive main dish, and the most expensive beverage.

In [ ]:
restaurant_items[[0,1,2],prices.argmax(axis=1)]

## Pandas

In [ ]:
# whenever we want to use Pandas
import pandas as pd

### Creating Pandas Series

In [ ]:
# Create a series from array
arr_series = pd.Series(arr2d.ravel()[:5])
arr_series

In [ ]:
# Create a series from list
lst = ['data','science','math']
lst_series = pd.Series(lst)
lst_series

In [ ]:
# Create a series from tuple
tup = (2,3,5)
tup_series = pd.Series(tup)
tup_series

In [ ]:
# Create a series from dict (keys become index, values become data)
dct = {"one": 1, "two": 2, "three": 3}
dct_series = pd.Series(dct)
dct_series

In [ ]:
# Specify indicies when creating a series
tup_series_w_index = pd.Series(tup, index = ['two','three','five'])
tup_series_w_index

In [ ]:
# Specify indicies after
tup_series.index = ['two','three','five']
tup_series

In [ ]:
# Can also name your series
tup_series_w_index_name = pd.Series(tup, index = ['two','three','five'],name='nums')
tup_series_w_index_name

### Series attributes

In [ ]:
arr_series.dtype

In [ ]:
arr_series.shape

In [ ]:
arr_series.index

In [ ]:
tup_series_w_index_name.index

In [ ]:
arr_series.values

In [ ]:
tup_series_w_index_name.name

### Accessing Elements

In [ ]:
dct_series

In [ ]:
# Access elements by their index (bracket notation)
dct_series['one']

In [ ]:
# Access elements by their index (dot/attribute notation)
dct_series.one

In [ ]:
# Accessing elements by their position
dct_series[0]

In [ ]:
# Slicing by index (inclusive stop)
dct_series['one':'three']

In [ ]:
# Slicing by position (exclusive stop)
dct_series[0:2]

In [ ]:
# These different ways of accessing elements can get confusing if indices are ints
new_series = pd.Series({1:1,2:2,3:3,4:4,5:5})
new_series

In [ ]:
# Are we accessing by index or position here?
new_series[1]

In [ ]:
# Are we slicing by index or position here?
new_series[1:3]

Be explicit with `.loc` (for index-based access) and `.iloc` (for position-based access)

In [ ]:
# Access by index
new_series.loc[1]

In [ ]:
# Access by position
new_series.iloc[1]

In [ ]:
# Slice by index
new_series.loc[1:3]

In [ ]:
# Slice by position
new_series.iloc[1:3]

### Pandas dataframes

In [ ]:
my_dict = {'fruit':['apple','banana','orange'],
          'color':['red','yellow','orange'],
          'yum score':[5,5,5],
          'in fridge':[True, False, True],
          'number':[3,4,0]}

In [ ]:
fruit_df = pd.DataFrame(my_dict)
fruit_df

In [ ]:
list_of_tups = [(i,i**2,i**3) for i in range(10)]
list_of_tups

In [ ]:
squares_and_cubes = pd.DataFrame(list_of_tups,columns = ['n','squared','cubed'])
squares_and_cubes

##### Dataframe attributes

In [ ]:
fruit_df.dtypes

In [ ]:
fruit_df.shape

In [ ]:
fruit_df.index

In [ ]:
fruit_df.values

In [ ]:
fruit_df.columns