# DATA 271 Midterm 1 â€” Spring 2026
*Instructor: Emily Chang*  
*Date: Tuesday, February 24, 2026*

Please answer the following questions to the best of your ability. You are welcome to use your reference sheet and the `help()` function in Python, but please do **not** use any other internet windows including books, demos from class, AI, Stack Overflow, or others.

You have **1 hour and 50 minutes** to complete this exam. There is a total of **120 points**. When you have finished, click **File â†’ Download as â†’ Notebook (.ipynb)** and submit to Canvas.

**Some helpful reminders:**
- Look up documentation with the `help` function: `help(len)`
- Look up methods and attributes with `dir`: `dir('a string')`
- Use the `tab` key to find functions and methods for specific libraries

Good luck!

---
## Problem 1: Python Basics â€” Flight Data (25 points)

You are given the list `flights` below. Each element is a tuple containing `(airline, origin_city, destination_city, departure_delay_minutes)`.

In [ ]:
flights = [
    ('Delta Air Lines', 'New York', 'Los Angeles', 12),
    ('United Airlines', 'Chicago', 'Houston', -5),
    ('Southwest Airlines', 'Dallas', 'Phoenix', 34),
    ('Delta Air Lines', 'Los Angeles', 'Seattle', 0),
    ('American Airlines', 'New York', 'Miami', 78),
    ('United Airlines', 'Houston', 'Denver', -3),
    ('Southwest Airlines', 'Phoenix', 'Las Vegas', 21),
    ('American Airlines', 'Miami', 'Chicago', 5),
    ('Delta Air Lines', 'Seattle', 'New York', 15),
    ('United Airlines', 'Denver', 'Chicago', 0),
]

**1.1** Using list comprehension, create a list called `delayed_flights` containing only the tuples where the departure delay is greater than 0. **(5 points)**

In [ ]:
delayed_flights = ...
delayed_flights

**1.2** Create a dictionary called `airline_delays` where the keys are unique airline names and the values are **lists** of all departure delays (in minutes) for that airline. **(8 points)**

In [ ]:
unique_airlines = 

airline_delays = {}
for ... in ...:
    ...
airline_delays

**1.3** Write a function called `avg_delay` that takes the `airline_delays` dictionary and an airline name as arguments, and returns the **average delay** (as a float) for that airline. Call your function for `'Delta Air Lines'` and assign the result to `delta_avg`. **(6 points)**

In [ ]:
def avg_delay(delay_dict, airline):
    ...

delta_avg = ...
delta_avg

**1.4** Using `sorted()` and a lambda function, sort the `flights` list by departure delay in **descending** order (longest delay first). Assign the result to `flights_sorted`. **(6 points)**

In [ ]:
flights_sorted = ...
flights_sorted

---
## Problem 2: Regular Expressions â€” Date Cleaning (25 points)

You are given `data`, a list of dates in several different formats. Your goal is to standardize all of them to `YYYY-MM-DD` and sort them chronologically.

In [ ]:
import re

data = ['1-1-2023',
 'Jan 4th 2023',
 'Jan 6 2023',
 '01-10-2023',
 '01/12/23',
 'January 14th 2023',
 'Jan 16 2023',
 'Jan 17 2023',
 '01/20/2023',
 '01/22/23',
 'January 24 2023',
 'Jan 25 2023',
 '1-28-23',
 '01-29-2023',
 'February 1st 2023',
 'Feb 3 2023',
 'Feb 5 2023',
 '02-06-2023',
 '02-6-2023',
 '2-10-23']

**2.1** Look at the `data` list above. There are **4 distinct date formats** mixed together. In the Markdown cell below, describe each format group and give one example from the list for each. **(4 points)**

*Format 1:*

*Format 2:*

*Format 3:*

*Format 4:*

**2.2** Some dates have **2-digit years** (e.g. `'23'`) and others have **4-digit years** (e.g. `'2023'`). Write a helper function called `fix_year` that takes a year string and returns a 4-digit year string. Assume all 2-digit years belong to the 2000s. **(5 points)**

*Example:* `fix_year('23')` â†’ `'2023'`,  `fix_year('2023')` â†’ `'2023'`

In [ ]:
def fix_year(year_str):
    ...

# Test it:
print(fix_year('23'))    # Expected: '2023'
print(fix_year('2023'))  # Expected: '2023'

**2.3** Handle the **numeric formats** (both dash-separated and slash-separated). Use `re.findall()` with capturing groups to extract the month, day, and year from each date. Use your `fix_year` function and zero-padding to produce a standardized `YYYY-MM-DD` string.

Create a list called `numeric_dates` containing only the dates from `data` that match a numeric format, converted to `YYYY-MM-DD`. You may use a loop or list comprehension. **(5 points)**

Expected output:
```
['2023-01-01', '2023-01-10', '2023-01-12', '2023-01-20', '2023-01-22',
 '2023-01-28', '2023-01-29', '2023-02-06', '2023-02-06', '2023-02-10']
```

In [ ]:
numeric_dates = ...
numeric_dates

**2.4** Handle the **written month formats** (both abbreviated like `'Jan'` and full like `'January'`). Use `re.findall()` to extract the month name, day number, and year from each date.

- Create a dictionary called `month_map` that maps month names to their zero-padded numeric equivalents (only cover the months that appear in `data`)
- Strip ordinal suffixes (`st`, `nd`, `rd`, `th`) from day numbers
- Use `fix_year` for the year

Create a list called `written_dates` containing only the dates from `data` that match a written month format, converted to `YYYY-MM-DD`. You may use a loop or list comprehension. **(6 points)**

Expected output:
```
['2023-01-04', '2023-01-06', '2023-01-14', '2023-01-16', '2023-01-17',
 '2023-01-24', '2023-01-25', '2023-02-01', '2023-02-03', '2023-02-05']
```

In [ ]:
month_map = {...}

written_dates = ...
written_dates

**2.5** Combine `numeric_dates` and `written_dates` into one list called `all_dates`. Then sort `all_dates` from **earliest to latest** and assign the result to `sorted_dates`. **(5 points)**

```python
# Expected (20 dates, Jan 1 through Feb 10):
# ['2023-01-01', '2023-01-04', '2023-01-06', '2023-01-10', '2023-01-12',
#  '2023-01-14', '2023-01-16', '2023-01-17', '2023-01-20', '2023-01-22',
#  '2023-01-24', '2023-01-25', '2023-01-28', '2023-01-29', '2023-02-01',
#  '2023-02-03', '2023-02-05', '2023-02-06', '2023-02-06', '2023-02-10']
```

In [ ]:
all_dates = ...

sorted_dates = sorted(all_dates, key=...)
sorted_dates

---
## Problem 3: NumPy â€” Minor Theatre Snacks (25 points)

You're at the Minor Theatre in Arcata getting snacks and watching *Wuthering Heights*. Unfortunately, the menu is given to you as two 2D arrays below:

- `menu_items` â€” a 2D array of concession items organized by category:
  - Row 0: snacks
  - Row 1: meals
  - Row 2: drinks

- `prices` â€” a 2D array of the **same shape** as `menu_items`, containing the price (in dollars) of each corresponding item.

In [ ]:
import numpy as np

menu_items = np.array([
    ['gingersnap 3-pack', 'yeast popcorn',  'Dick Taylor bar',  'Bavarian pretzel'],
    ['Smugs pizza',       'signature dog',  'empanada',         'nachos'          ],
    ['kombucha',          'hot chocolate',  'herbal tea',       'beer float'      ]
])

prices = np.array([
    [ 6.,  8., 10.,  7.],
    [ 6.,  7.,  7.,  6.],
    [ 7.,  6.,  5.,  9.]
])

**3.1** Use NumPy methods to determine how much someone would pay if they ordered the **most expensive item from each category** (one snack, one meal, one drink). Assign the total to `max_order_total`. **(6 points)**

In [ ]:
max_order_total = ...
max_order_total

**3.2** Use NumPy methods and slicing to create a 1D array called `items_by_price` containing **all menu items sorted from most expensive to least expensive**. **(7 points)**

Expected output:
```
['Dick Taylor bar' 'beer float' 'yeast popcorn' 'signature dog' 'kombucha'
 'empanada' 'Bavarian pretzel' 'nachos' 'hot chocolate' 'gingersnap 3-pack'
 'Smugs pizza' 'herbal tea']
```

In [ ]:
items_by_price = ...
items_by_price

**3.3** Use NumPy methods and slicing to create a 1D array called `priciest_items` containing the **name** of the most expensive item from each category (one snack, one meal, one drink). **(7 points)**

Expected output:
```
['Dick Taylor bar' 'signature dog' 'beer float']
```

In [ ]:
priciest_items = ...
priciest_items

**3.4** Use Boolean masking to find all items that cost **more than $6.00**. Assign the item names to `pricey_items` and the count to `num_pricey`. **(5 points)**

In [ ]:
pricey_items = ...
num_pricey   = ...

pricey_items, num_pricey

---
## Problem 4: Pandas Basics â€” Flight Delays Dataset (25 points)

For this problem, use the `flight_delays.csv` dataset.

In [ ]:
import pandas as pd
import numpy as np

**4.1** Load `flight_delays.csv` into a DataFrame called `flights_df`. Display the first 5 rows to confirm it loaded correctly. Then report the shape of the dataset and assign it to `flights_shape`. **(5 points)**

In [ ]:
flights_df = ...
flights_df.head()

In [ ]:
flights_shape = ...
flights_shape

**4.2** Use `.info()` and `.describe()` to inspect the dataset. In the Markdown cell below, answer: (a) Are there any columns with missing values? How do you know from `.info()`? (b) What is the mean departure delay? **(6 points)**

In [ ]:
...

In [ ]:
...

*(a) Missing values:*

*(b) Mean departure delay:*

**4.3** a) Find the **average departure delay** for each airline. Use `.groupby()` and assign the result to `avg_delay_by_airline`.

b) Which airline has the highest average departure delay? Assign its name to `worst_airline`.

**(8 points)**

*Hint: use `.idxmax()` to grab the index name of the smallest value!*

In [ ]:
# a)
avg_delay_by_airline = ...
avg_delay_by_airline

In [ ]:
# b)
worst_airline = ...
worst_airline

**4.4** How many flights were cancelled? The `Cancelled_Flag` column indicates whether a flight was cancelled. Assign the count to `num_cancelled`. Then use `.value_counts()` on the `Airline_Name` column to find how many flights each airline operated. Assign the result to `flights_per_airline`. **(6 points)**

In [ ]:
num_cancelled = ...
num_cancelled

In [ ]:
flights_per_airline = ...
flights_per_airline

---
## Problem 5: ETL Pipeline â€” Glassdoor Jobs Dataset (20 points)

The field of data science is growing rapidly, with companies across various industries seeking skilled professionals. In this problem, you'll build a complete **data inspection and visualization pipeline** using `glassdoor_jobs.csv`, which contains data science job listings scraped from Glassdoor.

You'll follow the ETL inspection flow from lecture:
> 1. Confirm it loaded correctly â†’ 2. Inspect shape â†’ 3. Identify data types â†’ 4. Identify missing values â†’ 5. Filter meaningful subsets â†’ 6. Summarize patterns â†’ 7. Wrap it in a function

**5.1** Import `numpy` as `np`, `pandas` as `pd`, and `matplotlib.pyplot` as `plt` (if you haven't already). Load `glassdoor_jobs.csv` into a DataFrame called `jobs`. Display the first 5 rows to confirm it loaded correctly. Then assign the column names to `col_names`. **(2 points)**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

jobs = ...
jobs.head()

In [ ]:
col_names = ...
col_names

**5.2** Use `.info()` to get a full summary of the DataFrame, and `.describe()` to get descriptive statistics of the numeric columns. In the Markdown cell below, answer: which columns have missing values, and how can you tell from `.info()`? **(2 points)**

In [ ]:
# use .info()
...

In [ ]:
# use .describe()
...

*Which columns have missing values? How do you know from `.info()` output?*

(type here)

**5.3** Assign the number of rows to `num_rows` and the number of columns to `num_cols`. Print them in the format: `"The dataset has {num_rows} rows and {num_cols} columns."` **(1 point)**

In [ ]:
num_rows = ...
num_cols = ...
print(f"The dataset has {num_rows} rows and {num_cols} columns.")

**5.4** Use `select_dtypes()` to identify the numeric and categorical features. Assign the column names as lists to `numeric_cols` and `categorical_cols`. In the Markdown cell, comment on whether the numeric features loaded as expected (float/int) â€” note any surprises. **(2 points)**

In [ ]:
numeric_cols = ...
numeric_cols

In [ ]:
categorical_cols = ...
categorical_cols

*Did all numeric features load as float/integer? Were there any surprises?*

**5.5** Use `.info()` to identify which columns have missing values. Assign to `cols_with_missing` a list of column names that have fewer non-null values than `num_rows`.

*HINT: Look at the "Non-Null Count" column in the `.info()` output and compare it to `num_rows`.* **(1 point)**

In [ ]:
cols_with_missing = ...
cols_with_missing

**5.6** Filter for meaningful subsets using four different approaches. Each should produce a separate DataFrame.

**5.6a** Use **conditional filtering** to create `high_pay` â€” jobs where `max_salary` is greater than 150. **(1 point)**

In [ ]:
high_pay = ...
high_pay.head()

**5.6b** Use **`.between()`** to create `mid_pay` â€” jobs where `max_salary` is between 80 and 120 (inclusive). **(1 point)**

In [ ]:
mid_pay = ...
mid_pay.head()

**5.6c** Create `big_companies` containing only jobs at companies with more than 1,000 employees. **(1 point)**

In [ ]:
big_companies = ...
big_companies.head()

**5.6d** Use regex to identify jobs whose `job_description` mentions `'machine learning'` or `'ML'`.

Save this as a new column in the dataframe called `ml_tag`. If there is match, save the value as `ML` and if there is no match, save the value as `not ML`. **(2 points)**

In [ ]:
jobs['ml_tag'] = ...

jobs.head()

**5.7** Calculate the count of `ML` and `not ML` jobs in the `ml_tag` column. Then create a **bar plot** for the `ml_tag` column using the `.plot(kind="bar")`. Add a title with `plt.title()` and display with `plt.show()`. **(2 points)**

In [ ]:
ml_counts =

In [ ]:
ml_counts.plot(kind='bar')
plt.title(...)
plt.show()

**5.8** Summarize patterns in the **numeric** features. Loop through each column in `numeric_cols` and create a **histogram** using `jobs.plot(kind="hist")`. Add a title with `plt.title()`, an x-axis label with `plt.xlabel()`, and display with `plt.show()`. **(2 points)**

In [ ]:
for col in numeric_cols:
    ...
    plt.title(...)
    plt.xlabel(...)
    plt.show()

**5.9 (Almost done!!)** Wrap the entire pipeline into a function called `inspect_df` that takes a DataFrame as its only argument and performs all of the following in order:

1. Prints `.info()` output
2. Prints `.describe()` output
3. Prints the shape as: `"Shape: {rows} rows, {cols} columns"`
4. Prints the list of numeric column names
5. Prints the list of categorical column names
6. Prints the list of columns with missing values (fewer non-null than total rows)
7. Prints `value_counts()`, and shows a bar plot for only the `ml_tag` column
8. Loops through numeric columns and shows a histogram for each

Test your function by calling `inspect_df(jobs)`. **(3 points)**

In [ ]:
def inspect_df(df):
    # 1. info
    ...
    # 2. describe
    ...
    # 3. shape
    ...
    # 4. numeric cols
    ...
    # 5. categorical cols
    ...
    # 6. columns with missing values
    ...
    # 7. categorical bar plots
    ...
    # 8. numeric histograms
    ...

inspect_df(jobs)

---
## ðŸŽ‰ You're done!

Please save your notebook and submit it to Canvas as a `.ipynb` file.

**File â†’ Download as â†’ Notebook (.ipynb)**