# Importing and inspecting data

In [ ]:
import pandas as pd

## Import data

In [ ]:
# read a csv in your working directory
df = 
df.head(2)

In [ ]:
# read a csv online
df = 
df.head(2)

In [ ]:
# read in an excel file
df = 
df.head(2)

In [ ]:
# Read in an excel file online
df = 
df.head(2)

In [ ]:
# To use one of the columns as your row index
df = 
df.head(2)

### Initial Inspection of the Data

In [ ]:
# Is the data frame empty? Did import fail?

In [ ]:
# display the top few rows

In [ ]:
# inspecting the last three rows

In [ ]:
# info() gives more information, including the number of non-nulls

## Pandas Methods

In [ ]:
# To reset the index

In [ ]:
# Doesn't update the original
df.head(2)

In [ ]:
# Reset the index in the original

df.head(2)

In [ ]:
# obtain summary statistics for numeric columns

In [ ]:
# if we would like to just describe one column, such as mag (magnitude)

In [ ]:
# we can look for unique values in a column

In [ ]:
# Get the number of rows in each category

In [ ]:
# Get the number of non-null values in a column

In [ ]:
# mean of a column

In [ ]:
# median

In [ ]:
# quantile

In [ ]:
# sum of a column

In [ ]:
# min of a column

In [ ]:
# max of a column

In [ ]:
# POSITION of maximum (can also use min)

In [ ]:
# INDEX LABEL of maximum (can also use min)

In [ ]:
# Sort values in a series

In [ ]:
# Sort values rows in a dataframe by a value

In [ ]:
# Certain numeric methods won't automatically work on dataframes
#df.max()

In [ ]:
# You can do multiple columns at once if all numeric
df.loc[:,['mag','gap']].max()

In [ ]:
# Get the average of one column based on another column

In [ ]:
# Get the average of multiple columns based on another column

### Selecting subsets

In [ ]:
# select all columns with object datatypes

In [ ]:
# select all columns with ints

In [ ]:
# select all columns with numeric datatypes

### Filtering DataFrames with boolean indexing

In [ ]:
# keep only the rows where this boolean statement is true (mag greater than or equal to 7)

In [ ]:
# important columns for earthquakes with magnitude greater than or equal to 7 OR caused a tsunami
df.loc[
    ...,
    ['mag', 'title', 'tsunami', 'place']
].head(3)

In [ ]:
# Just get the earthquakes in California
df.loc[
    (df.place.str.contains('California')),
    ['mag', 'title', 'tsunami', 'place']
]

In [ ]:
# We might have missed some-- the USGS has tagged some locations as California and some as CA.
cali_df = df.loc[
    (df.place.str.contains('CA|California')),
    ['mag', 'title', 'tsunami', 'place']
]
cali_df.head(3)

In [ ]:
# if we just want the columns related to magnitude
df.loc[
    (df.place.str.contains('CA|California')),
    [col for col in df.columns if 'mag' in col]
].head(3)

## Activity 
Create a DataFrame with two rows and 2 columns. The columns should be `mag` and `place`. The first row should contain the information for the smallest earthquake in California (lowest magnitude) and the second row should contain information for the largest earthquake) in California.

How many earthquakes in the dataset had a red alert?

How many Oregon earthquakes are in the dataset?