# Importing and inspecting data
v.ekc

In [ ]:
import numpy as np
import pandas as pd

## Import data

In [ ]:
# read a csv in your working directory
df = pd.read_csv('earthquakes.csv')
df.head(2)

In [ ]:
# read a csv online
df = pd.read_csv('https://github.com/bethanyj0/data271_sp24/blob/main/demos/earthquakes.csv?raw=True')
df.head(2)

In [ ]:
# read in an excel file
df = pd.read_excel('earthquakes.xlsx',sheet_name = 'earthquakes')
df.head(2)

In [ ]:
# Read in an excel file online
df = pd.read_excel('https://github.com/bethanyj0/data271_sp24/blob/main/demos/earthquakes.xlsx?raw=True',sheet_name = 'earthquakes')
df.head(2)

In [ ]:
# To use one of the columns as your row index
df = pd.read_csv('earthquakes.csv',index_col='code')
df.head(2)

In [ ]:
df.index.name

### Initial Inspection of the Data

In [ ]:
# Is the data frame empty? Did import fail?
df.empty

In [ ]:
# display the top few rows
df.head(3)

In [ ]:
# inspecting the last three rows
df.tail(3)

In [ ]:
# info() gives more information, including the number of non-nulls
df.info()

## Pandas Methods

In [ ]:
# To reset the index
df.reset_index().head(2)

In [ ]:
# Doesn't update the original
df.head(2)

In [ ]:
# Reset the index in the original
df.reset_index(inplace=True)
df.head(2)

In [ ]:
# obtain summary statistics for numeric columns
df.describe()

In [ ]:
# if we would like to just describe one column, such as mag (magnitude)
df.mag.describe()

In [ ]:
# we can look for unique values in a column
df.status.unique()

In [ ]:
# Get the number of rows in each category
df.status.value_counts()

In [ ]:
# Get the number of non-null values in a column
df.felt.count()

In [ ]:
# mean of a column
df.mag.mean()

In [ ]:
# median
df.mag.median()

In [ ]:
# quantile
df.mag.quantile(0.5)

In [ ]:
# sum of a column
df.mag.sum()

In [ ]:
# min of a column
df.mag.min()

In [ ]:
# max of a column
df.mag.max()

In [ ]:
# POSITION of maximum (can also use min)
df.mag.argmax()

In [ ]:
# INDEX LABEL of maximum (can also use min)
df.mag.idxmax()

In [ ]:
# Sort values in a series
df.mag.sort_values()

In [ ]:
# Sort values rows in a dataframe by a value
df.sort_values(by='mag')

In [ ]:
# Certain numeric methods won't automatically work on dataframes
#df.max()

In [ ]:
# You can do multiple columns at once if all numeric
df.loc[:,['mag','gap']].max()

In [ ]:
# Get the average of one column based on another column 
df.groupby('status')['mag'].mean()

In [ ]:
# Get the average of multiple columns based on another column 
df.groupby('status')[['mag','gap']].mean()

### Selecting subsets

In [ ]:
# select all columns with object datatypes
df.select_dtypes(object)

In [ ]:
# select all columns with ints
df.select_dtypes(int)

In [ ]:
# select all columns with numeric datatypes
df.select_dtypes('number')

### Filtering DataFrames with boolean indexing

In [ ]:
# keep only the rows where this boolean statement is true (mag greater than or equal to 7)
df[df.mag >= 7]

In [ ]:
# important columns for earthquakes with magnitude greater than or equal to 7 OR caused a tsunami
df.loc[
    (df.tsunami == 1) | (df.mag >= 7),
    ['mag', 'title', 'tsunami', 'place']
].head(3)

In [ ]:
# Just get the earthquakes in California
df.loc[
    (df.place.str.contains('California')),
    ['mag', 'title', 'tsunami', 'place']
]

In [ ]:
# We might have missed some-- the USGS has tagged some locations as California and some as CA.
cali_df = df.loc[
    (df.place.str.contains('CA|California')),
    ['mag', 'title', 'tsunami', 'place']
]
cali_df.head(3)

In [ ]:
# if we just want the columns related to magnitude
df.loc[
    (df.place.str.contains('CA|California')),
    [col for col in df.columns if 'mag' in col]
].head(3)

## Activity 
Create a DataFrame with two rows and 2 columns. The columns should be `mag` and `place`. The first row should contain the information for the smallest earthquake in California (lowest magnitude) and the second row should contain information for the largest earthquake) in California.

In [ ]:
# This allows us to index with loc
cali_df.loc[
    [cali_df.mag.idxmin(), cali_df.mag.idxmax()],
    ['mag','place']
]

How many earthquakes in the dataset had a red alert?

In [ ]:
df.alert.value_counts()['red']

How many Oregon earthquakes are in the dataset?

In [ ]:
or_df = df.loc[
    (df.place.str.contains('OR|Oregon')),
    ['mag', 'title', 'tsunami', 'place']
]
or_df.shape