# More Regular Expression
v.ekc

In [1]:
import re

# Check in review!

Let's review what we did on Friday :)

### Question:

How can we match an email that has the pattern: ```______@_____.___?```

Use the test text: 

```test = "My email is ekc140@humboldt.edu"```

In [ ]:
test1 = "My email is ekc140@humboldt.edu"

#### Answer

In [8]:
test1 = 'My email is ekc140@humboldt.edu and my github is @emoochangu.'

regex = r'\w+@\w+\.\w+'

re.findall(regex, test)

['ekc140@humboldt.edu']

### Question 

How can we match dates that are patterned ```YYYY-mm-dd```?

In [9]:
test2 = "Shakira's birthday 1977-02-02 and Ina Garten's birthday is 1948-02-02 and the supposed moon landing is on 1969-07-20"

#### Answer

In [10]:
test2 = "Shakira's birthday 1977-02-02 and Ina Garten's birthday is 1948-02-02 and the supposed moon landing is on 1969-07-20"

regex = '\d{4}\-\d{2}\-\d{2}'
re.findall(regex, test2)

['1977-02-02', '1948-02-02', '1969-07-20']

### Question

How can we clean whitespace?

Recall that the whitespace character class is ```\s```.

*Hint* Sub out a chunk of white space for one space.

In [12]:
test3 = "Price:  $50.00"

#### Answer

In [11]:
test3 = "Price:     $50.00"

re.sub('\s+', ' ', test3)

'Price: $50.00'

# Raw strings

Raw strings only matter when Python would otherwise interpret a backslash.

If there is no backslash, raw vs non-raw makes no difference.

## Example: backslashes

For example if we wanted to read directories:

```'C:\Users\Real Python\main.py'```

The backslash is a metacharacter. We would have to escape the backslashes with a double backslash:

```regex = 'C:\\Users\\Real Python\\main.py'```

or we could just make it a raw string!

```regex = r'C:\Users\Real Python\main.py' ```

In [159]:
# compare strings and raw strings

d1 = 'C:\\Users\\Real Python\\main.py'

d2 = r'C:\Users\Real Python\main.py'

print(f'''non-raw string:
{d1}

raw string:
{d2}


Are the two strings the same?
{d1==d2}
''')

non-raw string:
C:\Users\Real Python\main.py

raw string:
C:\Users\Real Python\main.py


Are the two strings the same?
True

## Example: formatting characters with backslashes, ```\n \t```

These meta characters are used by python for formatting. If we do not wrap these in a raw string, python will assume it is formatting.

In [160]:
# A string in python
print('\tTab')

	Tab

In [161]:
# A raw string in python
print(r'\tTab')

\tTab

In [162]:
print('Line1\nLine2')

Line1
Line2

In [163]:
print(r'Line1\nLine2')

Line1\nLine2

### Literal backslash character classes

| Goal          | Raw string | Non-raw string |
| ------------ | ---------- | -------------- |
| literal `\`  | `r'\\'`    | `'\\\\'`       |
| literal `\w` | `r'\\w'`   | `'\\\\w'`      |
| literal `\n` | `r'\\n'`   | `'\\\\n'`      |

# When you need a backslash to get a literal character

We have meta characters and class characters that signify certain patterns other than what they are literally. If we do want to find the literal character, we may have to use an additional backslash ```\``` so python will not interpret the character as a meta/class character.


Meta characters: ```.``` ```*``` ```+``` ```?``` ```()``` ```{}``` ```$``` ```\```:

If we have a simple raw string, we still need to escape the meta character with a backslash. However, if we use set notation with brackets, the meta character will be treated like the literal character and does not need to be escaped.


Class character with backslash: ```\d``` ```\w``` ```\b``` ```\s```, etc..

If you are looking for the literal pattern, use a raw string with an escape backslash.


The although the opposite is true for the ```^``` in set notation!

## Meta characters: ```.``` ```*``` ```+``` ```?``` ```()```

The above meta characters do not need to be escaped if they are in a set because they are not used in a set.

However, meta characters *do* need to be escaped if they *not* in a set.

### Non-set notation

| Character | Special meaning  | Escape to match literally? | Example of escape |
| --------- | ---------------- | --------------------------------- | ------- |
| `.`       | any character    | âœ… yes                             | `\.`    |
| `*`       | 0+ repeats       | âœ… yes                             | `\*`    |
| `+`       | 1+ repeats       | âœ… yes                             | `\+`    |
| `?`       | optional         | âœ… yes                             | `\?`    |
| `(` `)`   | grouping         | âœ… yes                             | `\(`    |
| `{` `}`   | repetition       | âœ… yes                             | `\{3\}` |
| `[` `]`   | set delimiters   | âœ… yes                             | `\[`    |
| `^`       | start of string  | âœ… yes                             | `\^`    |
| `$`       | end of string    | âœ… yes                             | `\$`    |
| `\`       | escape character | âœ… yes                             | `\\`    |

In [14]:
question = "What is the meaning of life? \(^o^)+* \w+"

In [16]:
# NO set notation:
# --> we must escape special characters
reg_no_set = '\?'

# set notation:
# --> we must escape special characters
set_notation = '[?]'

print(f'''text:
{question}

no set, regex = '{reg_no_set}'
output: {re.findall(reg_no_set,question)}

set, regex = '{set_notation}'
output: {re.findall(set_notation,question)}
     ''')

text:
What is the meaning of life? \(^o^)+* \w+

no set, regex = '\?'
output: ['?']

set, regex = '[?]'
output: ['?']

In [253]:
# check if (no set) versus (set) is the same output

print(f'''Is the regex the same: {reg_no_set} == {set_notation}
{re.findall(reg_no_set,question) == re.findall(set_notation,question)}''')

Is the regex the same: \? == [?]
True

#### Example: Set or non-set notation with the other meta characters and class characters

Below, we have an example for ```*``` and ```(```

We also have an example of ```\w``` and how we fail to find the exact pattern in the text. Instead, ```\w``` performs as a class character, as expected!

In [212]:
# non-set versus set notation with meta character *

print(f'''text:
{question}

no set, regex = '\*'
output: {re.findall('\*',question)}

set, regex = '[*]'
output: {re.findall('[*]',question)}
     ''')

text:
What is the meaning of life? \(^o^)+* \w+

no set, regex = '\*'
output: ['*']

set, regex = '[*]'
output: ['*']

In [213]:
# non-set versus set notation with meta character *

print(f'''text:
{question}

no set, regex = '\('
output: {re.findall('\(',question)}

set, regex = '[(]'
output: {re.findall('[(]',question)}
     ''')

text:
What is the meaning of life? \(^o^)+* \w+

no set, regex = '\('
output: ['(']

set, regex = '[(]'
output: ['(']

In [214]:
# non-set versus set notation: class character \w

print(f'''text:
{question}

no set, regex = '\w'
output: {re.findall('\w',question)}

set, regex = '[\w]'
output: {re.findall('[\w]',question)}
     ''')

text:
What is the meaning of life? \(^o^)+* \w+

no set, regex = '\w'
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

set, regex = '[\w]'
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

### Raw string with ```.``` ```*``` ```+``` ```?``` ```()``` etc..: no affect because no backslash

In this case, converting to a raw string will not change anything.

If we use a *raw* string but do not use set notation, we need still need to escape the meta character as before.

In [249]:
# raw string but WITH set notation:

print(f'''text:
{question}

no set, and raw string: regex = r'\?'
output: {re.findall(r'\?',question)}

set, and raw string: regex = '{r'[?]'}'
output: {re.findall(r'[?]',question)}
    
     ''')

print(f'''Is the regex the same: r'\?' == r'[?]' == '[?]'
{re.findall(r'\?',question) == re.findall('\?',question) == re.findall('[?]',question)}''')

text:
What is the meaning of life? \(^o^)+* \w+

no set, and raw string: regex = r'\?'
output: ['?']

set, and raw string: regex = '[?]'
output: ['?']


Is the regex the same: r'\?' == r'[?]' == '[?]'
True

## Class characters ```\d``` ```\w``` ```\b``` ```\s```

If you are looking for the literal pattern, use a raw string...you only must add one escape character. If you are using a normal string, you would need to use two escape characters and that is annoying.

The following regex codes are identical and both will pull out the literal pattern ```\w```:

```r'\\w' == '\\\\w' ```

#### Example of raw versus normal string for class characters ```\d``` ```\w``` ```\b``` ```\s``` etc..

In [250]:
# raw string example:

print(f'''text:
{question}

No escape backslash:

non-raw string:
regex = '\w'   -> looking for word character \w
output: {re.findall('\w',question)}

raw string:
regex = r'\w'   -> looking for word character \w
output: {re.findall(r'\w',question)}


Escape backslash:

non-raw string and escape:
regex = '\\\\w'   -> looking for word character \w
output: {re.findall('\\w',question)}

*non-raw string and double escape character:*
regex = '\\\\\\\\w'    -> looking for literal pattern \w
output: {re.findall('\\\\w',question)}

*raw string and escape:*
regex = r'\\\w'   -> looking for literal pattern \w
output: {re.findall(r'\\w',question)}
     ''')

text:
What is the meaning of life? \(^o^)+* \w+

No escape backslash:

non-raw string:
regex = '\w'   -> looking for word character \w
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

raw string:
regex = r'\w'   -> looking for word character \w
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']


Escape backslash:

non-raw string and escape:
regex = '\\w'   -> looking for word character \w
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

*non-raw string and double escape character:*
regex = '\\\\w'    -> looking for literal pattern \w
output: ['\\w']

*raw string and escape:*
regex = r'\\w'   -> looking for literal pattern \w
output: ['\\w']

### Does set notation affect ```\d``` ```\w``` ```\b``` ```\s```? No-ish...

Of course, you can use any combination of set notation, raw strings, and character classes. But if you want to find the literal pattern, *just use raw strings*!

| Goal         | Regex sees | Raw string | Non-raw string |
| ------------ | -------------- | ---------- | -------------- |
| literal `\`  | `\\`           | `r'\\'`    | `'\\\\'`       |
| literal `\w` | `\\w`          | `r'\\w'`   | `'\\\\w'`      |
| literal `\n` | `\\n`          | `r'\\n'`   | `'\\\\n'`      |

If you are looking for a backslash or a ```d, w, b, s...```, then of course you can use set notation! But you will just need to double escape the backslash so regex will read it as a backslash and not a meta character.

In [259]:
# Set notation
#
# character classes will be interpreted as class characters and NOT literal

print(f'''
{question}

Set notation:

raw string:
regex = r'[\w]'   -> looking for word character \w
output: {re.findall(r'[\w]',question)}

non-raw string:
regex = '[\w]'   -> looking for word character \w
output: {re.findall('[\w]',question)}

non-raw, escaped:
regex = '[\\\\w]'   -> looking for word character \w
output: {re.findall('[\\w]',question)}

non-raw, escaped:
regex = '[\\\\\\w]'   -> looking for literal `\` or 'w'
output: {re.findall('[\\\w]',question)}
     ''')

What is the meaning of life? \(^o^)+* \w+

Set notation:

raw string:
regex = r'[\w]'   -> looking for word character \w
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

non-raw string:
regex = '[\w]'   -> looking for word character \w
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

non-raw, escaped:
regex = '[\\w]'   -> looking for word character \w
output: ['W', 'h', 'a', 't', 'i', 's', 't', 'h', 'e', 'm', 'e', 'a', 'n', 'i', 'n', 'g', 'o', 'f', 'l', 'i', 'f', 'e', 'o', 'w']

non-raw, escaped:
regex = '[\\\w]'   -> looking for literal `\` or 'w'
output: ['\\', '\\', 'w']

## Special meta character ```^```

### ```^``` in a set
The carrot meta character is used in set notation to signify the set of characters to exclude *if it appears first*. If the carrot ```^``` is not the first character in the set, it will not be used as a meta character and will be treated like a literal character. Another option is to use an escape character.

### ```^``` in a string
To search for the literal carrot ```^``` in a string (raw or not), use an escape character.

In [261]:
# string example with ^

print(f'''
String example:

no escape character:
regex = '^'   -> does not register :(
output: {re.findall('^',question)}

escape character:
regex = '\^'   -> looking for meta character ^
output: {re.findall('\^',question)}
''')

String example:

no escape character:
regex = '^'   -> does not register :(
output: ['']

escape character:
regex = '\^'   -> looking for meta character ^
output: ['^', '^']

In [269]:
# set example with ^

print(f'''
Set example:

^ appears first in set:
regex = '[^lif?o]'   -> acts as a meta character
output: {re.findall('[^lif?o]',question)}

^ does NOT appear first in set:
regex = '[lif?^o]'   -> looking for meta character ^
output: {re.findall('[lif?^o]',question)}

escape ^:
regex = '[\^]'   -> looking for meta character ^
output: {re.findall('[\^]',question)}
''')

Set example:

^ appears first in set:
regex = '[^lif?o]'   -> acts as a meta character
output: ['W', 'h', 'a', 't', ' ', 's', ' ', 't', 'h', 'e', ' ', 'm', 'e', 'a', 'n', 'n', 'g', ' ', ' ', 'e', ' ', '\\', '(', '^', '^', ')', '+', '*', ' ', '\\', 'w', '+']

^ does NOT appear first in set:
regex = '[lif?^o]'   -> looking for meta character ^
output: ['i', 'i', 'o', 'f', 'l', 'i', 'f', '?', '^', 'o', '^']

escape ^:
regex = '[\^]'   -> looking for meta character ^
output: ['^', '^']

In summary: if searching for a carrot ```^``` within set notation, don't have the carrot first or escape the carrot:

```regex = r'[\^]' ```

# Repetitions with ```{}```

You can be more specific with the repetitions

| regex| use |
|---|---|
| ```{m}``` | matches expression to the left ```m``` times |
| ```{m,}``` | matches expression to the left ```m``` or more times |
| ```{m, n}``` | matches expression to the left between ```m``` and ```n``` times |

In [270]:
string = "She sells seashells by the seashore."

In [277]:
# get patterns that start with s and end with s with any character in between
re.findall(r's.s',string)

['s s']

In [278]:
# get patterns that start with s and end with s with any 2 characters in between
re.findall(r's.{2}s',string)

['seas', 'seas']

In [279]:
# three characters in between
re.findall(r's.{3}s',string)

['sells']

In [280]:
# 1 to 4 characters between s and s
re.findall(r's.{1,4}s',string)

['sells', 'seas', 'seas']

In [281]:
# 1 tp 4 characters between s and s (shifted)
re.findall(r's.{1,4}s',string[string.find('s')+1:])

['s seas', 'seas']

# Lookahead and Lookbehind

We can select patterns with a rule that depends on what precedes or follows.

| Regex      | Name                  | Use |
|-----------|-----------------------|-----|
| `A(?=B)`  | Positive Lookahead    | Matches the expression **A** if expression **B** follows |
| `A(?!B)`  | Negative Lookahead    | Matches the expression **A** if expression **B** does not **not** follow |
| `(?<=B)A` | Positive Lookbehind   | Matches the expression **A** if expression **B** is before |
| `(?<!B)A` | Negative Lookbehind   | Matches the expression **A** if expression **B** is **not** before |

In [282]:
cats = "I love cats, but not catnaps! Cats are great! ðŸ±"

In [283]:
# positive lookahead; match cat or Cat only if it is followed by s
re.findall('[Cc]at(?=s)',cats)

['cat', 'Cat']

In [284]:
# negative lookahead; match cat or Cat only if it is NOT followed by naps
re.findall('[Cc]at(?!nap)',cats)

['cat', 'Cat']

In [285]:
# positive lookbehind; match cat or Cat only if it is preceded by "love "
re.findall('(?<=love )[Cc]at',cats)

['cat']

In [286]:
# positive lookbehind; match cat or Cat only if it is NOT preceded by "love "
re.findall('(?<!love )[Cc]at',cats)

['cat', 'Cat']

### Question: pull out just the numbers of the prices from the text using lookbehind. 
*Hint: select the number chunks that have a lookbehind that is a $*

```text = "Notebook $12 Pen $3 Box of 20 clips Eraser $1"```

#### Answer:

In [308]:
text = 'Notebook $12 Pen $3 Box of 20 clips Eraser $1'

re.findall('(?<=\$)\d+', text)

['12', '3', '1']

### Question: pull out the numbers from the prices from the text using grouping ```()```. 

```text = "Notebook $12 Pen $3 Box of 20 clips Eraser $1"```

#### Answer

In [307]:
text = 'Notebook $12 Pen $3 Box of 20 clips Eraser $1'

re.findall('\$(\d+)', text)

['12', '3', '1']

# Capture groups 

Useful for extracting chunks of text. We can match multiple groups at once and output the multiple groups as tuples in a outputted list. If there are matches to the capture group, ```re.findall``` returns the pattern segment. If there is no capture group, ```re.findall``` returns the full match.

**Use**: if you want to match a pattern that repeats or if you want to extract parts of a match

We can also tag groups that we don't want saved to the output by using the pattern: ```(?:pattern)```.

### *Note*: it is easiest just to use raw strings for grouping

In [314]:
text = 'apple banana appleappleapple applee orange'

In [327]:
# + only matches characters immediately to the left
#   we get all the chunks of `apple`

re.findall(r'apple+',text)

['apple', 'apple', 'apple', 'apple', 'applee']

In [328]:
# If we want to match a whole word 1 or more times, we group
# note that it only matches the things in the group -- "capture group" 

re.findall(r'(apple)+',text)

['apple', 'apple', 'apple']

In [324]:
# To make it a non-capturing group, use ?:
re.findall(r'(?:apple)',text)

['apple', 'apple', 'apple', 'apple', 'apple']

## Using grouping for collections of info

We want to extract information

In [329]:
# Using grouping for collections of info
statement = 'Mary has 3 cats. Ben had 2 dogs. Maya has 14 chickens, and April has 1 alpaca.'

We want to capture the sentence structure:

```name + verb + number + pet```

```letters chunk/space/leters chunk/space/digit chunk/space/leters chunk```

In [330]:
# get all the statements in the form "person has or had # pets"
re.findall(r'[A-Za-z]+\s[A-Za-z]+\s\d+\s[A-Za-z]+',statement)

['Mary has 3 cats',
 'Ben had 2 dogs',
 'Maya has 14 chickens',
 'April has 1 alpaca']

In [331]:
# if I only care about the people, group by the first part
re.findall(r'([A-Za-z]+)\s[A-Za-z]+\s\d+\s[A-Za-z]+',statement)

['Mary', 'Ben', 'Maya', 'April']

In [334]:
# if I care about the people and the number of pets

re.findall(r'([A-Za-z]+)\s[A-Za-z]+\s(\d+)\s[A-Za-z]+',statement)

[('Mary', '3'), ('Ben', '2'), ('Maya', '14'), ('April', '1')]

In [335]:
# if I care about the people and the number of pets and the type of pet

re.findall(r'([A-Za-z]+)\s[A-Za-z]+\s(\d+)\s([A-Za-z]+)',statement)

[('Mary', '3', 'cats'),
 ('Ben', '2', 'dogs'),
 ('Maya', '14', 'chickens'),
 ('April', '1', 'alpaca')]

### Example with grouping dates:

We can reorder group and name their references for better code readability!

#### Question: how can we pull out the month/day/year into a tuple (month, day, year) using grouping?

```dates = '12/25/2025 01/01/2023 11/14/2022' ```

#### Answer

In [338]:
dates = "12/25/2025 01/01/2023 11/14/2022"

re.findall('(\d{2})/(\d{2})/(\d{4})',dates)

[('12', '25', '2025'), ('01', '01', '2023'), ('11', '14', '2022')]

#### Example with dates: switch the order of the groups!

We can switch the order of the groups using ```re.sub(old, new, text)```

Right now, we have month/day/year but we will change the group ordering to year/month/day. We will use group references to switch the order

In [346]:
# Reference the capture groups switch from MM/DD/YYY to YYYY/MM/DD

re.sub(r'(\d{2})/(\d{2})/(\d{4})', r'\3/\1/\2', dates)

'2025/12/25 2023/01/01 2022/11/14'

**Groups**

1: month

2: day

3: year

and so we use ```re.sub(r'(1)(2)(3)', r'(3)(1)(2)', text)```

#### Example with dates: create our own label for groups

This only works with the ```re.sub(r'(?P<new_label>)', r'(\g<new_label>)', text)``` function

In [347]:
# You can name capture groups with ?P to make it easier to reference. use \g when referencing
# Note this only works for substitutions

re.sub(r'(?P<month>\d{2})/(?P<day>\d{2})/(?P<year>\d{4})',r'\g<year>/\g<month>/\g<day>', dates)

'2025/12/25 2023/01/01 2022/11/14'

#### Example with dates: referencing the groups with labels and ```re.sub()```

If we want to change out a certain group, we can use ```re.sub()``` and target the specific group.

In this example, the date is 'messy', the day is only one digit. We will match the pattern by finding the day group which is sandwiched between the two forward slashes.

```regex = r`/\d/```  -> grabs the one digit day  --> group 1 = ```\1```

Then we can use ```re.sub()``` and the reference to the group to add a zero before the one-digit day!

```re.sub(r'/(\d)/', r'/0\1/', messy_dates)```

In [343]:
# This type of technique is helpful for cleaning data
#   We find 

messy_dates = "12/25/2025 01/1/2023 11/14/2022"
re.sub(r'/(\d)/', r'/0\1/', messy_dates)

'12/25/2025 01/01/2023 11/14/2022'

## Next example

### Question: Find all occurances of 3 digits in a row

```string_with_nums = "123 432 543 578 443 444 757 577 222 974 199"```

#### Answer

In [349]:
string_with_nums = "123 432 543 578 443 444 757 577 777 974 199"

In [350]:
# find all occurances of 3 digits in a row
re.findall(r'\d{3}',string_with_nums)

['123', '432', '543', '578', '443', '444', '757', '577', '777', '974', '199']

### We want to find all occurances of identical digit repeated 3 times in a row and print out the repeated digit

```string_with_nums = "123 432 543 578 443 444 757 577 222 974 199"```

In [394]:
# find all occurances of identical digit repeated 3 times in a row
re.findall(r'(\d)\1{2}',string_with_nums)

['4', '7']

We use this to pattern match the 3 repeats in a row and return the number:

```regex = r'(\d)\1{2}'```

- ```(\d)```: we capture one digit and it is tagged group 1, ```\1```
- ```\1{2}```: we match group 1, two more times
- we return the single digit we saved to group 1 to output

### With 2 groups

Here is a different way to get the repeats but with two groups

In [395]:
# it takes some work to show the repeats
matches = re.findall(r'((\d)\2{2})', string_with_nums)
#[tup[0] for tup in matches]

matches

[('444', '4'), ('777', '7')]

We use this to pattern match the 3 repeats in a row and return the number **and** the triplet:

```regex = r'((\d)\2{2})'```

Question: how does the group labeling work?

Answer: order of parenthesis from left to right

- ```((\d)\2{2})```: outer most parenthesis so the full triplet is group 1, ```\1```
- ```(\d)```: the inner parenthesis is the single digit and is group 2, ```\2```
- we return group 1, the triplet, and group 2, the single digit

If we just want the triplets, we can use list comprehension to pull out from the output list:

```[tup[0] for tup in matches]```

## Activities

### Extract all the emoticons such as `:)` or `:-)` etc.



*Hint* 
Each of the faces at least have eyes and a mouth. There is an optional nose or tear :'(

Break up the face into three possible sets!

In [356]:
greeting = """
Hi! :D 
It is so nice to meet you! :-) 
I wish I could stay and chat :P but I have to go. :( 
Bye bye. D,:
"""

In [ ]:
...

### Answer

In [371]:
regex = '[:D][\-,]?[D\)\(\:]'
re.findall(regex, greeting)

[':D', ':-)', ':(', 'D,:']

Each of the faces at least have eyes and a mouth. There is an optional nose or tear :'(

The first set has the eyes from the first three emojis ```:``` and the mouth from the last emoji ```D```:

```[:D]```

The second set is optional and has a nose ```-``` and a tear ```'```:

```[\-\,]?```

The last set has the mouths from the first three ```D ) (``` and the eyes from the last emoji ```:```

```[D\)\(\:]```

### Extract the year, month, and day for each date in the list. The dates are in the form MM-DD-YYYY.

*Hint*
Note that we have a list of strings.

You can try out grabbing the first 2 characters with the ```^``` for month? Or possibly, use grouping?

Lastly, recall the output is a list for each string we inspect. We do not want a list of lists!

#### Answer

In [393]:
dates = ['01-31-2001','02-28-2002','03-30-2003','04-29-2004','05-28-2005','06-27-2006',
         '07-07-2007','08-08-2008','09-09-2009','10-10-2010','11-11-2011','12-12-2012']

year = [re.findall('\d{4}', date)[0] for date in dates]
month = [re.findall('(\d{2})-\d{2}', date)[0] for date in dates]
day = [re.findall('\d{2}-(\d{2})', date)[0] for date in dates]

print(year)
print(month)
print(day)

['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012']
['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
['31', '28', '30', '29', '28', '27', '07', '08', '09', '10', '11', '12']