In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw03.ipynb")

# Homework 3: Pandas and MatplotLib

Welcome to homework 3 of DATA 271: Data Wrangling and Visualization! 

In this assignment, we will practice using the `Pandas` and `MatplotLib` libraries. As always, if you get stuck or have questions feel free to discuss problems with your peers and come to office hours. 

For this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `my_list` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you passed previously. **NOTE:** This homework assignment contains hidden tests. Passing all the auto-graded tests in the assignment does *NOT* mean you have answered everything correctly. So be careful and check your work!

In [ ]:
import sys
import numpy as np

## 1. Preparing to use Pandas

**Question 1.** Import the Pandas module. **(2 Points)**

In [ ]:
grader.check("q1")

# 2. Creating Series and DataFrames

**Question 2.1:** Create a Pandas Series with indices `a`-`j`, and values `1`-`10` (inclusive). **(5 Points)**

In [ ]:
indices = ...
my_series = ...
my_series

In [ ]:
grader.check("q2_1")

**Question 2.2:** Create a Pandas DataFrame with integers 1-10 in the first column, bools indicating whether the number is even in the next column, and bools indicating whether then number is divisible by 3 in the next column. Name the columns `n`, `even`, and `div 3`. Here's what the first few columns should look like:
|     |  n  | even | div 3 |
|-----|-----|------|-------|
|**0**|1    | False| False |
|**1**|2    | True | False |
|**2**|3    | False| True  |

**(5 Points)**

In [ ]:
my_df = ...
my_df

In [ ]:
grader.check("q2_2")

# 3. Vehicle Emissions

In the following problems, we will be working with a dataset related to CO2 emissions of various types of vehicles.

CO2 emissions have significant environmental impacts. The accumulation of CO2 in the atmosphere contributes to the greenhouse effect, trapping heat. This leads to various adverse effects, including rising global temperatures, sea-level rise, changes in weather patterns, and ecosystem disruptions. The long-term consequences can negatively impact human health, agriculture, biodiversity, and socio-economic systems. [(source)](https://www.kaggle.com/datasets/bhuviranga/co2-emissions?resource=download)

NOTE: The dataset used in the following problems contains duplicate rows. In this analysis, do not remove rows. Later in this class, we will learn more about cleaning data and how to handle/remove duplicates.

**Question 3.1:** Read in [this CSV](https://github.com/bethanyj0/data271_sp25/blob/main/homework/data/vehicle_co2_emissions.csv) file. *NOTE*: You can either put the CSV into your current working directory and read it in from there or read it in from the URL. **(5 Points)**

In [ ]:
co2_data = ...
co2_data

In [ ]:
grader.check("q3_1")

**Question 3.2:** How many rows and columns does the dataset have? **(5 Points)**

In [ ]:
num_rows = ...
num_cols = ...

num_rows,num_cols

In [ ]:
grader.check("q3_2")

**Question 3.3:** Which data types are present in `co2_data`? Enter 1, 2, 3, or 4 (select only one option). 

1. `str`, `float64`
2. `float64`, `int64`, and `object`
3. `object`
4. `int64`, `float64`

**(5 Points)**

In [ ]:
data_types = ...

In [ ]:
grader.check("q3_3")

**Question 3.4:** Which columns in the `co2_data` DataFrame are type `float64`? Enter 1, 2, 3, or 4 (select one option). 

1. `Engine Size (L)`, `Fuel Consumption Comb (L/100 km)`, and `Fuel Consumption Comb (mpg)`
2. `Fuel Consumption City (L/100 km)`, `Fuel Consumption Hwy (L/100 km)`, and `Fuel Consumption Comb (mpg)`
3. `CO2 Emissions(g/km)`, `Fuel Consumption Comb (mpg)`, `Engine Size(L)` and `Cylinders`
4. `Engine Size (L)`, `Fuel Consumption Comb (L/100 km)`, `Fuel Consumption City (L/100 km)` and `Fuel Consumption Hwy (L/100 km)`

**(5 Points)**

In [ ]:
floats = ...

In [ ]:
grader.check("q3_4")

**Question 3.5:** What is the minimum, maximum, mean, and interquartile range of the `CO2 Emissions (g/km)` column? **(5 Points)**

In [ ]:
co2_max = ...
co2_min = ...
co2_mean = ...
co2_iqr = ...
co2_max,co2_min,co2_mean, co2_iqr

In [ ]:
grader.check("q3_5")

**Question 3.6:** Sort `co2_data` by the CO2 Emissions (g/km) in ascending order, and save this as `co2_sorted`. 

Use your sorted dataframe to determine which vehicle (make and model) has the lowest CO2 emission rate and what the rate is. Save this as a Pandas Series called `min_emissions_vehicle` (with indices `Make`, `Model`, and `CO2 Emissions(g/km)`).

Similarly, use your sorted dataframe to determine which vehicle (make and model) has the highest CO2 emission rate. Save this as a Pandas Series called `max_emissions_vehicle` (with indices `Make`, `Model`, and `CO2 Emissions(g/km)`).

**(10 Points)**

In [ ]:
co2_sorted = ...
min_emissions_vehicle = ...
max_emissions_vehicle = ...

print(min_emissions_vehicle)
print(max_emissions_vehicle)

In [ ]:
grader.check("q3_6")

**Question 3.7:** Sort `co2_data` first by Fuel Consumption Comb (mpg) in ascending order, then by the CO2 Emissions (g/km) in descending order. Save this as `co2_sorted_size_em`. Describe what you notice in a markdown cell. **(5 Points)**

In [ ]:
co2_sorted_size_em = ...
co2_sorted_size_em

In [ ]:
grader.check("q3_7")

**Question 3.8:** Create a DataFrame called `vehicle_info` that contains only the `Make`, `Model`, `Vehicle Class`, `Fuel Consumption Comb (mpg)` and `CO2 Emissions(g/km)` columns from `co2_data`, in that order. **(5 Points)**

In [ ]:
vehicle_info = ...
vehicle_info

In [ ]:
grader.check("q3_8")

**Question 3.9:** Using `vehicle_info`, create two new dataframes:

- `efficient_vehicles`: This DataFrame should consist of a subset of `vehicle_info` containing vehicles with MPG (miles per gallon) in the top 1% of the dataset (MPG higher than at 99% of the vehicles) and CO2 emission rate in the bottom 1% (emission rate lower than 99% of the vehicles in the dataset).

- `inefficient_vehicles`: This DataFrame should consist of a subset of vehicle_info containing vehicles with MPG in the bottom 1% (MPG lower than 99% of the vehicles) and CO2 emission rate in the top 1% (emission rate higher than 99% of the vehicles in the dataset).  
**(10 Points)**

In [ ]:
efficient_vehicles = ...
                                  ...
inefficient_vehicles = ...
                                    ...

In [ ]:
efficient_vehicles.head()

In [ ]:
inefficient_vehicles.head()

In [ ]:
grader.check("q3_9")

**Question 3.10:** Which vehicle class is most common in `efficient_vehicles`? Which vehicle class is most common in `inefficient_vehicles`?  **(5 Points)**

In [ ]:
most_common_class_efficient = ...
most_common_class_inefficient = ...

most_common_class_efficient, most_common_class_inefficient

In [ ]:
grader.check("q3_10")

**Question 3.11:** Which car manufacturers (`Make`) make at least one efficient vehicle *and* at least one inefficient vehicle? Create a set `inefficient_and_efficient` containing these manufacturers. **(5 Points)**

In [ ]:
inefficient_and_efficient = ...
inefficient_and_efficient

In [ ]:
grader.check("q3_11")

**Question 3.12:** Create a list with the following car manufacturers ranked in order from lowest average CO2 emissions rate to highest average CO2 emissions rate. 

`SUBARU`, `HONDA`, `KIA`, `LAND ROVER`, `FORD`

*HINT*: First filter the dataset to only include the manufacturers listed above. Then get the average CO2 Emissions(g/km) for each of the manufacturers. Then sort to rank your list. **(5 Points)**

In [ ]:
manufacturers = ...
condition_for_filtering = ...
sorted_manufacturers = ...
sorted_manufacturers

In [ ]:
grader.check("q3_12")

**Question 3.13:** Import the MatplotLib Pyplot submodule. **(3 Points)**

In [ ]:
grader.check("q3_13")

<!-- BEGIN QUESTION -->

**Question 3.14:** Use MatplotLib to visualize the relationship between Fuel Consumption Comb (mpg) and the CO2 emissions of vehicles in the `co2_data` dataframe. (Remember to label your axes!) **(5 Points)**

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 3.15:** Use MatplotLib to visualize the relationship between the engine size and the CO2 emissions of vehicles in the `co2_data` dataframe. (Remember to label your axes!) **(5 Points)**

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 3.16:** Use MatplotLib (or Pandas) to visualize the average CO2 emission rate for each manufacturer (`Make`)in the `co2_data` dataframe. (Remember to label your axes!) **(5 Points)**

In [ ]:
avg_values = ...

<!-- END QUESTION -->

## You're done! 
Congrats on finishing Homework 3! Run the following cell to download a zip and submit to Canvas.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)