# DATA 271 Midterm 1 â€” Spring 2026 - Student Problems

## 1.
You are given the following NumPy array of student email addresses:

```python
emails = np.array([
    "alice13@humboldt.edu",
    "bob_smith@gmail.com",
    "caro99@humboldt.edu",
    "david@yahoo.com",
    "eva24@humbolt.edu"
])```

A. Using regular expressions, filter the array to include only email addresses that:

End with `@humboldt.edu`

Store the result in a NumPy array called school_emails.

B. From the filtered results, extract only the username (the part before @) and store them in a NumPy array called usernames.

C.How many school email addresses are there?

#### Answer

In [15]:
import numpy as np
import re

# Given array
emails = np.array([
    "alice13@humboldt.edu",
    "bob_smith@gmail.com",
    "caro99@humboldt.edu",
    "david@yahoo.com",
    "eva24@humbolt.edu"
])

# Part A: Filter emails ending with @school.edu
pattern = r"@humboldt\.edu$"

school_emails = np.array([e for e in emails if re.search(pattern, e)])

print("School Emails:")
print(school_emails)


# Part B: Extract usernames
usernames = np.array([e.split("@")[0] for e in school_emails])

print("\nUsernames:")
print(usernames)


# Part C: Count
count = len(school_emails)

print("\nTotal School Emails:")
print(count)

School Emails:
['alice13@humboldt.edu' 'caro99@humboldt.edu']

Usernames:
['alice13' 'caro99']

Total School Emails:
2

## 2

### 2a. Can you use regex to grab and change the formatting for dates? Dates have to end as MM-DD-YYYY.

#### Answer

In [19]:
import numpy as np
import re
from csv import reader

In [20]:
water = open('water_data_dates.csv')
data = reader(water) # type is csv.reader
data = [i[0] for i in list(data)]
data[0]=re.sub("\ufeff","",data[0])
data

TypeError: 'list' object is not callable

In [21]:
data

### 2b. With dates above, make them all the same and sort afterwards.

#### Answer

In [ ]:
# splitting dates with words and dates with numbers
words_match = r"(\w+)\s(\d+)\D*(\d{4})"
num_match = r"(\d+)[-/](\d+)[-/](\d+)"
dates_with_words = [i for i in data if re.findall(words_match,i)]
dates_with_num = [j for j in data if re.findall(num_match,j)]
#dates_with_words
#dates_with_num

In [ ]:
#making them all MM-DD-YYYY
months_m = {'January':'01','Jan':'01','Feb':'02','February':'02'}
formatted = []
#cleans dates with numbers 
for date in dates_with_num:
    g = re.search(num_match,date)
    m, d, y = g.groups()
    y = y if len(y) == 4 else '20' + y
    formatted.append(f"{m.zfill(2)}-{d.zfill(2)}-{y}")
#cleans dates with words 
for date in dates_with_words:
    g = re.search(words_match,date)
    m_name, d, y = g.groups()
    m_num = months_m[m_name]
    formatted.append(f"{m_num}-{d.zfill(2)}-{y}")

In [ ]:
formatted

In [ ]:
formatted.sort()
formatted

In [ ]:
#checking lengths are the same for no lost dates 
len(data)
len(formatted)

## 3
Write one line of Python code using re.findall() to extract only the city names from address_list, in the same order as they appear.

#### Answer

In [ ]:
import re

In [ ]:
address_list = ["123 Main St Apt 4B, Arcata, CA 95521",
                "55-57 Broadway Suite 210, New York, NY 10012",
                "890 Pine Rd, Eureka, CA 95501",
                "742 Evergreen Terrace Unit 3, Springfield, OR 97477"]

In [ ]:
cities = re.findall(r",\s*([^,]+),\s*[A-Z]{2}\s*\d{5}", " ".join(address_list))
cities

## 4
Here is a dictionary of snack prices at the movie theater.

In [ ]:
snacks = {
    "popcorn": 8.50,
    "nachos": 7.25,
    "candy": 4.00,
    "soda": 5.75,
    "pretzel": 6.50,
    "water": 3.00,
    "hot dog": 6.25
}

### 4a.
Use dictionary indexing to find the price of nachos. Assign it to nacho_price.

### 4b.
Use list comprehension to create a list called cheap_snacks containing the names of snacks that cost less than $6.00.

### 4c.
Use a built-in Python function to compute the total cost if you bought every snack on the menu. Assign your result to total_cost.

#### Answer

In [ ]:
# 4a
nacho_price = snacks["nachos"]
nacho_price

In [ ]:
# 4b
cheap_snacks = [name for name, price in snacks.items() if price < 6.00]
cheap_snacks

In [ ]:
#4c
total_cost = sum(snacks.values())
total_cost

## 5.
Create the following matrix. There may be multiple ways of solving it.

\begin{bmatrix}
    1 & 0 & 0 & 0 & 0 \\
    0 & 1 & 0 & 0 & 0\\
    0 & 0 & 1 & 0 & 0\\
    0 & 0 & 0 & 1 & 0\\
    0 & 0 & 0 & 0 & 1\\
\end{bmatrix}

#### Answer

In [ ]:
import numpy as np

A = np.identity(5)
A
B = np.array([[1,0,0,0,0],[0,1,0,0,0],[0,0,1,0,0],[0,0,0,1,0],[0,0,0,0,1]])
B

## 6. Write a function that takes in a list and returns the list in reverse.

#### Answer

In [ ]:
list = ['a','b','c','d','e','f','g','h']
ret = []
i = len(list) - 1
while i >= 0:
    ret.append(list[i]);
    i -= 1;
ret

## 7. 
Given 'numbers', make a list of the squares of each of the numbers in 'numbers' that is greater than 10.

In [ ]:
numbers = [3, 12, 7, 18, 5, 20, 9]
squares=...
squares

#### Answer

In [ ]:
squares = [x**2 for x in numbers if x > 10]
print(squares)

## 8. 
Create the array below by using numpy and without manually inputing the numbers as lists. After creating the array, create another array named array_sorted to sort it by column.

$\begin{bmatrix}
2 & 4 & 6 & 8 & 10\\
3 & 6 & 9 & 12 & 15\\
1 & 2 & 3 & 4 & 5
\end{bmatrix}$

In [ ]:
array1 = ...
array_sorted = ...
array_sorted

#### Answer

In [ ]:
array1 = np.array([np.arange(2, 11, 2), np.arange(3, 16, 3), np.arange(1, 6))

array_sorted = np.sort(array1, axis=0)

array_sorted

## 9.

### 9a.
Create a 4x7 array filled with the number 5

### 9b.
Create an array of 11 evenly divided values between 4 and 20

### 9c.
Make a copy of the array above:

In [ ]:
#### Answer

In [ ]:
# 9a.
np.full((4,7), 5)

In [ ]:
# 9b
np.linspace(4,20,11)

In [ ]:
# 9c
np.linspace(4,20,11).copy()